@import "../../../Styles/variables.scss";

.a-propos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: #f5f5f5;   
    & h2{
    color: $primary-font-color;
    font-size: 2.5rem;
    }
    &__content{
        display: flex;
        width: 75%;
        max-width: 1200px;
        height: auto;
        justify-content: center;
        align-items: center; 
        overflow: hidden;
        &--pictures{
            width: 50%;
            position: relative;
            height:100%;
            overflow: hidden;
            height: 500px;
            transition: transform 0.5s ease;
            &-selfie{
                width: 257px;
                height: 350px;
                border-radius: 10px;
                position: absolute;
                top: 18px;
                left: 18px;
            }
            &-bateau{
                width:263;
                height: 350px;
                border-radius: 10px;
                position: absolute;
                bottom: 18px;
                right: 18px;
            }
        }
        &--text{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-evenly;
            height: 100%;
            padding: 18px;
            & h3{
                color: $primary-font-color;
                font-size: 1.8rem;
                padding: 10px 20px;
            }   
            p{
                color: $primary-font-color;
                font-size: 1.6rem;
                padding: 0 20px;
                font-weight: 500;
            }
        }
    }
}