@import "../../../Styles/variables.scss";

.portfolio{
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &__container{
        width: 75%;
        height: 100%;
        max-width: 1200px;
        background: url(../../../Assets/Images/portfolio-bg.jpg);
        background-size: cover;
        position: relative;
        border-radius: 20px;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.89;
            box-shadow: inset (250px 250px 700px rgba(5, 9, 58, 0.99));
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,0.76) 0%, rgba(68,91,205,0.3) 88%, rgba(144,68,181,0.3) 100%);        }
            .portfolio__content{
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                h2{
                    font-size: 2.5rem;
                    color: #fff;
                }
            &--filters{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                width: 80%;
                height: 50px;
                margin-top: 20px;
                & button{
                    background: rgba(206, 205, 205, 0.19);
                    backdrop-filter: blur(3px);
                    color: #fff;
                    width: 150px;
                    font-size: 1.6rem;
                    padding: 10px 20px;
                    cursor: pointer;
                    border: rgba(206, 205, 205, 0.19);
                    border-radius: 20px;
                    transition: 250ms ease;
                    &:hover{
                        background: rgba(206, 205, 205, 0.29);
                        box-shadow: 2px 1px 0px rgba(0, 0, 0, 0.4); 
                        border: 1px solid white;
                    }
                    &:focus{
                        background: rgba(206, 205, 205, 0.35);
                        box-shadow: 2px 1px 0px rgba(0, 0, 0, 0.4); 
                        border: 1px solid white;
                    }
                }
            }
            &--cards{
                width: 100%;
                height:65%;
                position: relative;
            }
        }
    }
}
    
    

