.card-group[data-status=active] {
  width: 100%;
}

.card-group[data-status=after] {
  transform: translateX(50%) scale(0);
}

.card-group[data-status=before] {
  transform: translateX(-50%) scale(0);
}

.card-group[data-status=becoming-active-from-after] {
  transform: translateX(50%) scale(0);
}

.card-group[data-status=becoming-active-from-before] {
  transform: translateX(-50%) scale(0);
}

.card-groups,
.card-group,
.big-card {
  overflow: hidden;
  width: 40vmin;
  max-width: 100%;
}
@media screen and (max-width: 1200px) {
  .card-groups,
  .card-group,
  .big-card {
    width: 36vmin;
  }
}

.card-groups .card-group {
  transition: transform 500ms ease;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.card-groups .card-group .card {
  box-shadow: 1px 1px 25px rgba(255, 255, 255, 0.249);
  position: absolute;
  transition: transform 300ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}
.card-groups .card-group .big-card {
  border-radius: 1vmin;
  position: absolute;
  transition: ease 800ms;
  left: 38%;
  top: 20%;
  border: 1px solid rgba(247, 246, 246, 0.6);
  aspect-ratio: 14.5/10;
  background-size: cover;
  background-position: center;
}
.card-groups .card-group .big-card:nth-child(2) {
  background-image: url("../../Assets/Portfolio/Kasa/Kasa-gif.gif");
  transform: translateX(-10%) rotate(-1deg) scale(0.7);
  background-repeat: no-repeat;
  background-color: white;
  background-origin: content-box;
  padding: 8px;
}
.card-groups .card-group .big-card:nth-child(4) {
  background-image: url("../../Assets/Portfolio/Kasa/Kasa-desktop.webp");
  transform: rotate(2deg);
}
.card-groups .card-group .big-card:nth-child(6) {
  background-color: rgba(250, 247, 247, 0.86);
  background-image: url("../../Assets/Portfolio/Kasa/Kasa-logement.PNG");
  transform: translateX(-6%) rotate(-3deg);
  background-origin: content-box;
  padding-top: 10px;
}
.card-groups .card-group .big-card:nth-child(8) {
  background-image: url("../../Assets/Portfolio/Kasa/kasa-banner.png");
  transform: translate(10%, 3%) rotate(5deg);
}
.card-groups .card-group .big-card.group-1:nth-child(2) {
  background-image: url("../../Assets/Portfolio/Bluel/Bluel-gif.gif");
  padding: 2px;
  background-repeat: no-repeat;
  background-color: white;
  background-origin: content-box;
  padding: 8px;
}
.card-groups .card-group .big-card.group-1:nth-child(4) {
  background-image: url("../../Assets/Portfolio/Bluel/Bluel-add.PNG");
  background-repeat: no-repeat;
  background-color: white;
  background-origin: content-box;
  padding: 8px;
}
.card-groups .card-group .big-card.group-1:nth-child(6) {
  background-color: white;
  background-image: url("../../Assets/Portfolio/Bluel/Bluel-mobile.webp");
  background-origin: content-box;
  padding: 25px;
  background-repeat: no-repeat;
}
.card-groups .card-group .big-card.group-1:nth-child(8) {
  background-image: url("../../Assets/Portfolio/Bluel/Bluel-logo.PNG");
  background-repeat: no-repeat;
  background-origin: content-box;
  padding-left: 15px;
}
.card-groups .card-group .big-card.group-2:nth-child(2) {
  background-image: url("../../Assets/Portfolio/Grimoire/Grimoire-merci.webp");
  padding: 2px;
  background-origin: content-box;
  padding-top: 35px;
  background-repeat: no-repeat;
  background-color: white;
}
.card-groups .card-group .big-card.group-2:nth-child(4) {
  background-image: url("../../Assets/Portfolio/Grimoire/Grimoire-review.PNG");
}
.card-groups .card-group .big-card.group-2:nth-child(6) {
  background-color: white;
  background-image: url("../../Assets/Portfolio/Grimoire/Grimoire-rated.webp");
  background-origin: content-box;
  padding-top: 20px;
  background-repeat: no-repeat;
}
.card-groups .card-group .big-card.group-2:nth-child(8) {
  background-image: url("../../Assets/Portfolio/Grimoire/Grimoire-logo.png");
  background-position: left;
}
.card-groups .card-group .big-card.group-3:nth-child(2) {
  background-image: url("../../Assets/Portfolio/Booki/Booki-gif.gif");
  background-repeat: no-repeat;
  background-color: white;
  background-origin: content-box;
  padding: 6px;
}
.card-groups .card-group .big-card.group-3:nth-child(4) {
  background-image: url("../../Assets/Portfolio/Booki/Booki-search.PNG");
  background-origin: content-box;
  background-repeat: no-repeat;
  padding: 10px;
  background-color: white;
}
.card-groups .card-group .big-card.group-3:nth-child(6) {
  background-color: rgba(250, 247, 247, 0.86);
  background-image: url("../../Assets/Portfolio/Booki/Booki-hebergements.webp");
  background-origin: content-box;
  padding: 5px;
}
.card-groups .card-group .big-card.group-3:nth-child(8) {
  background-image: url("../../Assets/Portfolio/Booki/Booki-logo.PNG");
  background-position: right;
}
.card-groups .card-group .big-card.group-4:nth-child(2) {
  background-image: url("../../Assets/Portfolio/Nina/Nina-tweet.webp");
  padding: 8px;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-color: white;
}
.card-groups .card-group .big-card.group-4:nth-child(4) {
  background-image: url("../../Assets/Portfolio/Nina/Nina-desktop.webp");
  background-repeat: no-repeat;
  background-color: white;
  padding: 10px;
  background-origin: content-box;
}
.card-groups .card-group .big-card.group-4:nth-child(6) {
  background-color: white;
  background-image: url("../../Assets/Portfolio/Nina/Score.PNG");
  background-origin: content-box;
  padding: 23px;
  background-repeat: no-repeat;
}
.card-groups .card-group .big-card.group-4:nth-child(8) {
  background-image: url("../../Assets/Portfolio/Nina/banner-nina-carducci.webp");
  background-position: left;
}
.card-groups .card-group .little-card {
  transform: scale(0);
  width: 12vmin;
  border-radius: 2vmin;
  left: 50%;
  top: 44%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  aspect-ratio: 7/7;
  border: 1px solid white;
  background: rgba(206, 205, 205, 0.445);
  filter: blur(0.6px);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding: 5px;
}
@media screen and (max-width: 1200px) {
  .card-groups .card-group .little-card {
    width: 11vmin;
  }
}
.card-groups .card-group .little-card.group-0:nth-child(1) {
  background-image: url("../../Assets/Icons/html-icon.svg");
}
.card-groups .card-group .little-card.group-0:nth-child(3) {
  background-image: url("../../Assets/Icons/sass-icon.svg");
}
.card-groups .card-group .little-card.group-0:nth-child(5) {
  background-image: url("../../Assets/Icons/figma.svg");
}
.card-groups .card-group .little-card.group-0:nth-child(7) {
  background-image: url("../../Assets/Icons/react-icon.svg");
}
.card-groups .card-group .little-card.group-1:nth-child(1) {
  background-image: url("../../Assets/Icons/html-icon.svg");
}
.card-groups .card-group .little-card.group-1:nth-child(3) {
  background-image: url("../../Assets/Icons/css-icon.svg");
}
.card-groups .card-group .little-card.group-1:nth-child(5) {
  background-image: url("../../Assets/Icons/mongodb-icon.svg");
}
.card-groups .card-group .little-card.group-1:nth-child(7) {
  background-image: url("../../Assets/Icons/javascript-icon.svg");
}
.card-groups .card-group .little-card.group-2:nth-child(1) {
  background-image: url("../../Assets/Icons/Moongoose-icon.png");
}
.card-groups .card-group .little-card.group-2:nth-child(3) {
  background-image: url("../../Assets/Icons/mongodb-icon.svg");
}
.card-groups .card-group .little-card.group-2:nth-child(5) {
  background-image: url("../../Assets/Icons/nodejs-icon.svg");
}
.card-groups .card-group .little-card.group-2:nth-child(7) {
  background-image: url("../../Assets/Icons/vercel.png");
}
.card-groups .card-group .little-card.group-3:nth-child(1) {
  background-image: url("../../Assets/Icons/html-icon.svg");
}
.card-groups .card-group .little-card.group-3:nth-child(3) {
  background-image: url("../../Assets/Icons/css-icon.svg");
}
.card-groups .card-group .little-card.group-3:nth-child(5) {
  background-image: url("../../Assets/Icons/figma.svg");
}
.card-groups .card-group .little-card.group-3:nth-child(7) {
  background-image: url("../../Assets/Icons/git.png");
}
.card-groups .card-group .little-card.group-4:nth-child(1) {
  background-image: url("../../Assets/Icons/html-icon.svg");
}
.card-groups .card-group .little-card.group-4:nth-child(3) {
  background-image: url("../../Assets/Icons/css-icon.svg");
}
.card-groups .card-group .little-card.group-4:nth-child(5) {
  background-image: url("../../Assets/Icons/javascript-icon.svg");
}
.card-groups .card-group .little-card.group-4:nth-child(7) {
  background-image: url("../../Assets/Icons/lighthouse.png");
}
.card-groups .arrows {
  visibility: visible;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 20px;
  height: 65px;
  font-size: 4.6rem;
  width: 100%;
  margin-top: 0px;
  position: absolute;
  bottom: 0px;
  overflow: hidden;
  color: rgba(253, 235, 225, 0.5);
  filter: blur(0.5px);
}
.card-groups .arrows__left {
  cursor: pointer;
}
.card-groups .arrows__left:hover {
  color: white;
}
.card-groups .arrows__left:active {
  color: rgba(253, 235, 225, 0.8);
}
.card-groups .arrows__right {
  cursor: pointer;
}
.card-groups .arrows__right:hover {
  color: white;
}
.card-groups .arrows__right:active {
  color: rgba(253, 235, 225, 0.8);
}
.card-groups .arrows__hidden {
  visibility: hidden;
}

.card-group:hover > .card {
  box-shadow: -1vmin 2vmin 5vmin rgba(255, 255, 255, 0.149);
}

.card-group:hover > .big-card:nth-child(2) {
  transform: translate(-75%, 16%) rotate(-24deg) scale(1);
}

.card-group:hover > .big-card:nth-child(4) {
  transform: translate(-5%, -38%) rotate(-8deg);
}

.card-group:hover > .big-card:nth-child(6) {
  transform: translate(2%, 50%) rotate(8deg);
}

.card-group:hover > .big-card:nth-child(8) {
  transform: translate(68%, 26%) rotate(24deg);
}

.card-group:hover > .little-card:nth-child(1) {
  transform: translate(200%, -160%) rotate(-15deg) scale(1);
}

.card-group:hover > .little-card:nth-child(3) {
  transform: translate(160%, 170%) rotate(15deg) scale(1);
}

.card-group:hover > .little-card:nth-child(5) {
  transform: translate(-200%, -170%) rotate(15deg) scale(1);
}

.card-group:hover > .little-card:nth-child(7) {
  transform: translate(-280%, 140%) rotate(-15deg) scale(1);
}

.counter {
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 25px;
  font-size: 1.6rem;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 58px;
}/*# sourceMappingURL=cardcarousel.css.map */