@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal::-webkit-scrollbar {
  width: Opx; /* Chrome, Safari and Edge */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  pointer-events: none;
  background-color: rgba(34, 33, 33, 0.2);
  transition: 100ms ease-in-out;
  visibility: hidden;
  transform: scale(0);
}
.modal.open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  transform: scale(1);
}
.modal.modal-0 .modal__content, .modal.modal-1 .modal__content, .modal.modal-2 .modal__content, .modal.modal-3 .modal__content, .modal.modal-4 .modal__content {
  border: 1px solid #f5f5f5;
  overflow-y: auto;
  scrollbar-width: 0px; /* Firefox */
}
.modal.modal-0 .modal__content::-webkit-scrollbar, .modal.modal-1 .modal__content::-webkit-scrollbar, .modal.modal-2 .modal__content::-webkit-scrollbar, .modal.modal-3 .modal__content::-webkit-scrollbar, .modal.modal-4 .modal__content::-webkit-scrollbar {
  width: 0px; /* Chrome, Safari and Edge */
}
.modal.modal-0 .modal__content--header h2, .modal.modal-1 .modal__content--header h2, .modal.modal-2 .modal__content--header h2, .modal.modal-3 .modal__content--header h2, .modal.modal-4 .modal__content--header h2 {
  font-size: 2.2rem;
  font-weight: 500;
  color: rgba(0, 0, 100, 0.8);
  overflow: hidden;
}
.modal.modal-0 .modal__content--header button, .modal.modal-1 .modal__content--header button, .modal.modal-2 .modal__content--header button, .modal.modal-3 .modal__content--header button, .modal.modal-4 .modal__content--header button {
  color: rgba(0, 0, 100, 0.8);
  opacity: 0.9;
}
.modal.modal-0 .modal__content--body, .modal.modal-1 .modal__content--body, .modal.modal-2 .modal__content--body, .modal.modal-3 .modal__content--body, .modal.modal-4 .modal__content--body {
  width: 100%;
}
.modal.modal-0 .modal__content--body .projects-container, .modal.modal-1 .modal__content--body .projects-container, .modal.modal-2 .modal__content--body .projects-container, .modal.modal-3 .modal__content--body .projects-container, .modal.modal-4 .modal__content--body .projects-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.modal.modal-0 .modal__content--body .projects-container__mobile, .modal.modal-1 .modal__content--body .projects-container__mobile, .modal.modal-2 .modal__content--body .projects-container__mobile, .modal.modal-3 .modal__content--body .projects-container__mobile, .modal.modal-4 .modal__content--body .projects-container__mobile {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
}
.modal.modal-0 .modal__content--body .projects-container__mobile--mockup, .modal.modal-1 .modal__content--body .projects-container__mobile--mockup, .modal.modal-2 .modal__content--body .projects-container__mobile--mockup, .modal.modal-3 .modal__content--body .projects-container__mobile--mockup, .modal.modal-4 .modal__content--body .projects-container__mobile--mockup {
  width: 500px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  animation: appear 500ms ease-in-out;
}
@media screen and (max-width: 1199px) {
  .modal.modal-0 .modal__content--body .projects-container__mobile--mockup, .modal.modal-1 .modal__content--body .projects-container__mobile--mockup, .modal.modal-2 .modal__content--body .projects-container__mobile--mockup, .modal.modal-3 .modal__content--body .projects-container__mobile--mockup, .modal.modal-4 .modal__content--body .projects-container__mobile--mockup {
    display: none;
  }
}
.modal.modal-0 .modal__content--body .projects-container__mobile iframe, .modal.modal-1 .modal__content--body .projects-container__mobile iframe, .modal.modal-2 .modal__content--body .projects-container__mobile iframe, .modal.modal-3 .modal__content--body .projects-container__mobile iframe, .modal.modal-4 .modal__content--body .projects-container__mobile iframe {
  position: absolute;
  top: 161px;
  left: 84px;
  z-index: 1001;
  scrollbar-width: thin;
  width: 352px;
  height: 220px;
}
@media screen and (max-width: 1199px) {
  .modal.modal-0 .modal__content--body .projects-container__mobile iframe, .modal.modal-1 .modal__content--body .projects-container__mobile iframe, .modal.modal-2 .modal__content--body .projects-container__mobile iframe, .modal.modal-3 .modal__content--body .projects-container__mobile iframe, .modal.modal-4 .modal__content--body .projects-container__mobile iframe {
    display: none;
  }
}
.modal.modal-0 .modal__content--body .projects-container__text, .modal.modal-1 .modal__content--body .projects-container__text, .modal.modal-2 .modal__content--body .projects-container__text, .modal.modal-3 .modal__content--body .projects-container__text, .modal.modal-4 .modal__content--body .projects-container__text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  text-align: start;
}
.modal.modal-0 .modal__content--body .projects-container__text h3, .modal.modal-1 .modal__content--body .projects-container__text h3, .modal.modal-2 .modal__content--body .projects-container__text h3, .modal.modal-3 .modal__content--body .projects-container__text h3, .modal.modal-4 .modal__content--body .projects-container__text h3 {
  font-size: 1.5rem;
  color: rgba(0, 0, 100, 0.8);
  margin-bottom: 4px;
  text-align: justify;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.modal.modal-0 .modal__content--body .projects-container__text p, .modal.modal-1 .modal__content--body .projects-container__text p, .modal.modal-2 .modal__content--body .projects-container__text p, .modal.modal-3 .modal__content--body .projects-container__text p, .modal.modal-4 .modal__content--body .projects-container__text p {
  color: rgba(0, 0, 100, 0.8);
  font-size: 1.3rem;
  text-align: justify;
  margin-bottom: 2px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.modal.modal-0 .modal__content--body .projects-container__text ul li, .modal.modal-1 .modal__content--body .projects-container__text ul li, .modal.modal-2 .modal__content--body .projects-container__text ul li, .modal.modal-3 .modal__content--body .projects-container__text ul li, .modal.modal-4 .modal__content--body .projects-container__text ul li {
  margin-left: 10px;
  color: rgba(0, 0, 100, 0.8);
  font-size: 1.3rem;
  text-align: justify;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.modal.modal-0 .modal__content--body .projects-container__links, .modal.modal-1 .modal__content--body .projects-container__links, .modal.modal-2 .modal__content--body .projects-container__links, .modal.modal-3 .modal__content--body .projects-container__links, .modal.modal-4 .modal__content--body .projects-container__links {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 50%;
  height: 70px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.modal.modal-0 .modal__content--body .projects-container__links a, .modal.modal-1 .modal__content--body .projects-container__links a, .modal.modal-2 .modal__content--body .projects-container__links a, .modal.modal-3 .modal__content--body .projects-container__links a, .modal.modal-4 .modal__content--body .projects-container__links a {
  color: rgba(0, 0, 100, 0.8);
  font-size: 1.9rem;
  text-decoration: none;
  font-weight: 500;
}
.modal.modal-0 .modal__content--body .projects-container__links a:hover, .modal.modal-1 .modal__content--body .projects-container__links a:hover, .modal.modal-2 .modal__content--body .projects-container__links a:hover, .modal.modal-3 .modal__content--body .projects-container__links a:hover, .modal.modal-4 .modal__content--body .projects-container__links a:hover {
  opacity: 0.8;
}
.modal.modal-2 .modal__content, .modal.modal-3 .modal__content {
  background-color: #fff;
  position: relative;
}
.modal.modal-2 .modal__content::before, .modal.modal-3 .modal__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../Assets/Modals/kasa.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
}
.modal #ninaImg {
  width: 450px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal__content {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  width: 1000px;
  max-width: 1000px;
  position: relative;
  opacity: 1;
  pointer-events: all;
  height: 550px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.modal__content--header {
  width: 100%;
}
.modal__content--header h2 {
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
}
.modal__content--header button {
  font-size: 2.5rem;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__content--body {
  margin-top: 0px;
  height: 480px;
}/*# sourceMappingURL=modal.css.map */