@import "../../Styles/variables.scss";

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.modal::-webkit-scrollbar {
    width: Opx; /* Chrome, Safari and Edge */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    pointer-events: none;
    background-color: rgba(34, 33, 33, 0.8);
    transition: 100ms ease-in-out;
    visibility: hidden;
    transform: scale(0);
    &.open {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
        transform: scale(1);
    }

    &.modal-0, &.modal-1, &.modal-2, &.modal-3, &.modal-4{
        .modal__content {
            border: 1px solid $background-color;
            overflow-y: auto;
            scrollbar-width: 0px; /* Firefox */
            &::-webkit-scrollbar {
                width: 0px; /* Chrome, Safari and Edge */
            }
            &--header {
                & h2 {
                    font-size: 2.2rem;
                    font-weight: 500;
                    color: white;
                    overflow: hidden;
                }
                & button{
                    color: white;
                    opacity: 0.9;
                }
            }
            &--body{
                width: 100%;
                .projects-container{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    &__mobile{
                        height: 100%;
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        visibility: visible;
                        @media screen and (max-width:1199px){
                            display: none;
                        }
                        &--mockup{
                            width: 500px;
                            height: auto;
                            object-fit: cover;
                            position: relative;
                            animation: appear 500ms ease-in-out;
                        }
                        & iframe{
                            position: absolute;
                            top: 161px;
                            left: 84px;
                            z-index: 1010;
                            scrollbar-width: thin;
                            width: 352px;
                            height: 220px;
                            background-color: white;
                        }
                    }

                    &__text{
                        width: 50%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        padding: 20px;
                        border-left: 1px solid white;
                        border-right: 1px solid white;
                        text-align: start;
                        background: rgb(2,0,36);
                        background: linear-gradient(transparent 0%, rgba(2, 2, 22, 1) 100%);
                        backdrop-filter: blur(3px);
                        border-radius: 20px;
        
                        @media screen and (max-width: 1199px){
                            width: 100%;
                        }
                        & h3{
                            font-size: 1.5rem;
                            color: white;
                            margin-bottom: 4px;
                            text-align: justify;
                        }
                        & p{
                            color: white;
                            font-size: 1.3rem;
                            text-align: justify;
                            margin-bottom: 2px;
                        }
                        & ul li{
                            margin-left: 10px;
                            color: white;
                            font-size: 1.3rem;
                            text-align: justify;
                        }
                    }
                    &__links{
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        justify-content: space-evenly;
                        position: absolute;
                        bottom: 50px;
                        left: 0;
                        width: 50%;
                        height: 70px;
                        & a{
                            color: white;
                            font-size: 1.9rem;
                            text-decoration: none;
                            font-weight: 500;
                            &:hover{
                                opacity: 0.8;

                            }
                            @media screen and (max-width: 1199px){
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
    &.modal-2, &.modal-3 {
        .modal__content{
            background: url(../../Assets/Images/fond-bleu-degrade-luxe-abstrait-bleu-fonce-lisse-banniere-studio-vignette-noire.webp);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            opacity: 1;
            z-index: 1005;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../../Assets/Modals/kasa.png);
                background-position: left;              
                background-repeat: no-repeat;
                opacity: 0.2;   
                z-index: -1;         
            }
        }
    }
    #ninaImg{
        width: 450px;
        height: auto;
        object-fit: cover;
    }
}

.modal__content {
    background-color: $background-color;
    padding: 20px;
    border-radius: 20px;
    width: 1000px;
    max-width: 1000px;
    position: relative;
    opacity: 1;
    pointer-events: all;
    height: 550px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.modal__content--header {
    width: 100%;
    & h2 {
        overflow: hidden;
        margin:0;    
        padding:0;
        text-align: center;
    }
    & button{
        font-size: 2.5rem;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: 8px;
        right: 8px;
    }

}

.modal__content--body {
    margin-top: 0px;
    height: 480px;
}
